html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  background: #000000 url(../globe/loading.gif) center center no-repeat;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 17px;
  height: 100%;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.overlay {
  display:none;
  position: absolute;
  height: auto;
  width: auto;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 20px;
}
h1 {
  margin-top:0;
  margin-bottom:0;
}
/* positioning */
.title {
  width: 100%;
  text-align:center;
  bottom: 0;
}

.pageViews {
  top: 0;
  right: 0;
}

.overlay > div {
  position: absolute;
  z-index:1;
}
.header {
  font-size:1.3em;
  margin-bottom: 5px;
}
/** country stats */
#totalPageViews {
  font-size:2em;
}
#countryStats tr {
  line-height:25px;
}
#countryStats tr:nth-child(1) {
  font-size: 1.7em;
  line-height:32px;
}
#countryStats tr:nth-child(2) {
  line-height:32px;
  font-size: 1.5em;
}
#countryStats tr:nth-child(3) {
  line-height:32px;
  font-size: 1.3em;
}
