html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  background: #000000 url(../globe/loading.gif) center center no-repeat;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 13px;
  line-height: 20px;
  height: 100%;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.overlay {
  padding: 10px;
  position: absolute;
  z-index: 1;
}
.header {
  text-align:left;
}
